hostname: < See the sticker on your workstation! >
ubuntu_login: < Ubuntu login name >
user_full_name: < Your full name >
user_email: < Your Coolblue email address >
github_login: < Your Github login name >
github_access_token: < Your personal Github access token >
